#container {
    margin: 0 auto; 
}

#left {
    width: 50%;
    float: left;
}

#right {
    width: 50%;
    float: right;
}

#map {
    height: 100%;
}


#pie {
    height: 30%;
}

#line {
    height: 30%;
}

#bar {
    height: 30%;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}
